body {
    background-color: aliceblue;
    background-size: cover;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container-custom {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}
.navbar-brand img {
    height: 40px;
}

h5 {
    font: bolder;
}